{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail


{{ $brews := list 

"ack"
"bash"
"bat"
"coreutils"
"cmake"
"ctags"
"curl"
"dos2unix"
"ffmpeg"
"fd"
"gawk"
"gpg"
"gcc"
"git"
"gnu-sed"
"htop"
"iftop"
"ispell"
"jq"
"kcat"
"luarocks"
"make"
"neovim"
"nuget"
"reattach-to-user-namespace"
"ripgrep"
"shellcheck"
"speedtest-cli"
"starship"
"the_silver_searcher"
"tig"
"tldr"
"tmux"
"watch"
"wget"
"zsh"
"'emacs-plus@28', args: ['with-native-comp', 'with-modern-doom3-icon']"
-}}

{{
    $casks := list
    "1password"
    "1password-cli"
    "wezterm"
    "visual-studio-code"
-}}


{{
  $taps := list 
  "wez/wezterm"
  "d12frosted/emacs-plus"

-}}


brew bundle --no-lock --file=/dev/stdin <<EOF
# Taps
{{ range ($taps | sortAlpha | uniq) -}}
{{ if ( contains "'" .) }} tap {{ . }} {{ else }} tap "{{ . }}" {{ end }}
{{ end -}}

# Brews 
{{ range ($brews | sortAlpha | uniq) -}}
{{ if ( contains "'" .) }} brew {{ . }} {{ else }} brew "{{ . }}" {{ end }}
{{ end -}}

#Casks
{{ range ($casks | sortAlpha | uniq) -}}
{{ if ( contains "'" .) }} cask {{ . }} {{ else }} cask "{{ . }}" {{ end }}
{{ end -}}
EOF
{{ end -}}
