#!/bin/bash

plugins=( 
    "nodejs"
    "ruby"
    "python"
    "haskell"
    "golang"
)

for plugin in "${plugins[@]}"
do
	asdf plugin add $plugin
    status_code=$?
    if [ $status_code -eq 0 ] || [ $status_code -eq 2 ]; then
        echo "Plugin is installed"
    fi
done


asdf install ruby 2.6.4
asdf install python 3.10.1
asdf install nodejs lts
asdf install golang latest

asdf global nodejs lts
asdf global python 3.10.1
asdf global ruby 2.6.4
asdf global golang latest 
