#!/bin/bash 

{{ if eq .chezmoi.os "linux" -}}

for jvm in /usr/lib/jvm/*; do 
    jenv add $jvm
done

{{ else if eq .chezmoi.os "darwin" -}}

for jvm in /Library/Java/JavaVirtualMachines/*; do 
    jenv add "$jvm/Contents/Home"
    
done

{{ end -}}

