{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh 
echo "Nothing here fore now"

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

#brewfile hash: {{ include "Brewfile" | sha256sum }}

brew bundle --file {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}

{{ end -}}



