{{- /*

    simple dictionary of versions where the key is the plugin
    and the list of versions are space separated having the prefered
    global version first

*/ -}}

{{ $tools := dict
    "nodejs" ( list 
        "19.2.0"
    )
    "python" ( list 
        "3.10.1" 
        "2.7.18"  
    )
    "ruby" ( list 
        "3.1.2"
    )
    "golang" ( list 
        "1.17.8" 
    )
    "java" (list 
        "corretto-17.0.5.8.1" 
    )
    "direnv" (list
      "2.32.2"
    )
    "terraform" (list 
      "1.4.6"
    )
    "maven" ( list 
      "3.8.4"
    )
-}}


{{ range (keys $tools | sortAlpha ) -}}
{{ . }} {{ get $tools . | join " " }}
{{ end -}}
