#!/bin/bash

# To also run anytime the .tool-versions file changes, include its hash as a comment to make this file 'dirt'
# Tool Version Hash: {{ include "private_dot_tool-versions.tmpl" | sha256sum }}



echo "Setting up asdf-vm" 
set -euo pipefail

ASDF_HOME=${HOME}/.asdf
PATH=${ASDF_HOME}/bin:$PATH


echo "Installing plugins"
for plugin in $(cut -d' ' -f1 $HOME/.tool-versions);
do
    # asdf exits with error 2 if the plugin exists
    # ignore it if thats the error 
    asdf plugin add $plugin  || [ $? == "2" ]
done
pushd $HOME
asdf install 

asdf direnv setup --shell zsh --version latest
asdf direnv setup --shell bash --version latest
popd
