#!/bin/bash 

set -eufo pipefail

if [ ! -f ${HOME}/.emacs.d/bin/doom ]; then 
   >&2 echo "Doom not found, please fix this first"
  exit 1
fi

if [ ! -d ${HOME}/.doom.d ]; then
  >&2 echo "Your doom dir doesnt exists, have you applied changes yet"
  exit 1
fi


PATH="${HOME}/.emacs.d/bin:${PATH}"
doom clean
doom sync
doom env
