{{ if eq .osid "linux-arch" -}}


{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

curl -sS https://downloads.1password.com/linux/keys/1password.asc | gpg --import
{{ end -}}
