{{ if eq .osid "linux-arch" -}}


{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail
if ! command -v paru &> /dev/null
then
	{{ $sudo }} pacman -Syu
	{{ $sudo }} pacman -S --noconfirm --needed base-devel rust


fi
{{ end -}}
