#!/bin/bash
{{ if eq .osid "linux-debian" "linux-pop" "linux-ubuntu" -}}


echo "Installing on {{ .osid -}}"
set -euo pipefail

OP_VERSION=1.12.4
ARCH={{ .chezmoi.arch }}

FILENAME=op_linux_${ARCH}_v${OP_VERSION}.zip
echo "Installing $FILENAME"
tempdir=$(mktemp -d)
cleanup() {
	rm -rf ${tempdir}
}
trap cleanup EXIT

cd ${tempdir}
echo "Installing $FILENAME"
curl -LO https://cache.agilebits.com/dist/1P/op/pkg/v${OP_VERSION}/${FILENAME}
unzip ${FILENAME} op
mv op ${HOME}/.local/bin
{{ end -}}