#!/bin/bash

{{ if eq .osid "linux-debian" "linux-ubuntu" "linux-pop" "linux-arch" -}}
{{ $packages := list
"bat"
"ffmpeg"
"git"
"htop"
"ispell"
"jq"
"make"
"neovim" 
"ripgrep"
"tig"
"tldr"
"tmux"
"zsh"
"wget"
"1password"
-}}

{{ if eq .osid "linux-arch" -}}
	{{ $arch_pkgs := list 
		"gdm"
		"lxqt"
		"the_silver_searcher"
		"visual-studio-code-bin"
		"icu69"
		"gnome-keyring"
		"chromium"
		"apple-fonts"
		"ttf-mac-fonts"
		"pavucontrol"
		"ttf-meslo-nerd-font-powerlevel10k"
	-}}

	{{ $packages = concat $packages $arch_pkgs -}}
{{ else }}
	{{ $packages = concat $packages ( list
"silversearcher-ag"
"code"
"libssl-dev"
"libreadline-dev"
"libbz2-dev"
"libsqlite3-dev"
"liblzma-dev"
"libncurses-dev"
"tk-dev"
"1password-cli"
    ) -}}
{{ end -}}


{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}


set -eufo pipefail

{{ if eq .osid "linux-arch" -}}
	paru -Syu
	paru -S --needed --noconfirm {{ $packages | join " " }}
{{ else -}}	
	{{ $sudo }}apt-get update
	{{ $sudo }}apt-get install -y {{ $packages | join " " }}
{{ end -}}

curl -sS https://starship.rs/install.sh | sh


{{ end -}}
